// #wpadminbar{display: none;}
// html {
//   margin-top: 32px !important;
// }
.missing{
  padding: 1rem;
  background: $warning-color;
  color:#fff;
  span{
    color: $success-color;
  }
}
#logo{
  text-align: center;
  display: block;
  padding: 12px 0 18px;
  a{
    color: $primary-color;
    font-size: 40px;
    font-weight: 200;
    
    span{
      color: $success-color;
      font-weight: 800;
      
    }
  }
}

#logo-header{
  position: relative;
  .menu-icon{
    position: absolute !important;
    top:40px;
    right:1rem;
    @include hamburger($color: $primary-color, $color-hover: $success-color);
  }
}

#top-navigation{
  background: $primary-color;
  ul{
    margin:0;
    padding: 6px;
    text-align: center;
    li{
      text-align: center;
      padding:2px;
      @include breakpoint(medium) {
        display: inline-block;
      }
      a{
        color:#fff;
        display: inline-block;
        padding: 2px 12px 4px;
        border-radius: 12px;

       


        &:hover{
          background: $success-color;
        }
      }
    }
  }
}